*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}
/*
* ================ Main ================
*/
.main {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0b2434;
}
.main > div {
  width: 420px;
  height: 420px;
  background: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main > div h2 {
  margin-top: 20px;
}
.main > div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4a4e74;
  margin: 10px 60px;
}
.main > div .nums {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1fr 1fr;
  gap: 18px;
  width: max-content;
  margin: 20px auto;
}
.die {
  width: 35px;
  height: 35px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.die:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.main > div button {
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 20px;
  cursor: pointer;
}

.main > div button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.counter {
  display: flex;
  justify-content: space-between;
}
.counter span {
  display: inline-block;
  margin: 5px;
}
.counter span strong {
  color: #59e391;
}
